[submodule "Library/common-words"]
	path = Library/common-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-common-words
[submodule "Library/three-words"]
	path = Library/three-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-words
[submodule "Library/most-numbers"]
	path = Library/most-numbers
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-most-numbers
[submodule "Library/even-last"]
	path = Library/even-last
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-even-last
[submodule "Uncategory/even-average"]
	path = Uncategory/even-average
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-even-last
[submodule "Library/absolute-sorting"]
	path = Library/absolute-sorting
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-absolute-sorting
[submodule "Library/end-of-other"]
	path = Library/end-of-other
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-end-of-other
[submodule "Library/digits-multiplication"]
	path = Library/digits-multiplication
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-digits-multiplication
[submodule "Library/binary-count"]
	path = Library/binary-count
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-binary-count
[submodule "Library/fizz-buzz"]
	path = Library/fizz-buzz
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-fizz-buzz
[submodule "ElectronicStation/how-much-gold"]
	path = ElectronicStation/how-much-gold
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-how-much-gold.git
[submodule "Library/number-radix"]
	path = Library/number-radix
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-number-radix.git
[submodule "Library/three-word"]
	path = Library/three-word
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-words
[submodule "IceBase/reverse-engineer"]
	path = IceBase/reverse-engineer
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-reverse-engineer.git
[submodule "Uncategory/friendly-number"]
	path = Uncategory/friendly-number
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-friendly-number.git
[submodule "Home/feed-pigeons"]
	path = Home/feed-pigeons
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-feed-pigeons
[submodule "Home/open-labyrinth"]
	path = Home/open-labyrinth
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-open-labyrinth
[submodule "Home/speech-module"]
	path = Home/speech-module
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-speech-module.git
[submodule "Home/most-wanted-letter"]
	path = Home/most-wanted-letter
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-most-wanted-letter
[submodule "Incinerator/shortest-knight-path"]
	path = Incinerator/shortest-knight-path
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-shortest-knight-path.git
[submodule "Graveyard/broken-clock"]
	path = Graveyard/broken-clock
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-broken-clock.git
[submodule "Home/house-password"]
	path = Home/house-password
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-house-password.git
[submodule "Incinerator/bulls-and-cows"]
	path = Incinerator/bulls-and-cows
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-bulls-and-cows.git
[submodule "ElectronicStation/numbers-factory"]
	path = ElectronicStation/numbers-factory
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-numbers-factory.git
[submodule "OReylli/disposable-teleports"]
	path = OReylli/disposable-teleports
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-disposable-teleports.git
[submodule "Incinerator/snake"]
	path = Incinerator/snake
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-snake.git
[submodule "Alice/hidden-word"]
	path = Alice/hidden-word
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-hidden-word
[submodule "ElectronicStation/minesweeper"]
	path = ElectronicStation/minesweeper
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-minesweeper.git
[submodule "Uncategory/hamming-distance"]
	path = Uncategory/hamming-distance
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-hamming-distance.git
[submodule "Home/x-o-referee"]
	path = Home/x-o-referee
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-x-o-referee.git
[submodule "Hubspot/hubspot-amulet"]
	path = Hubspot/hubspot-amulet
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-hubspot-amulet.git
[submodule "ScientificExpedition/ore-in-desert"]
	path = ScientificExpedition/ore-in-desert
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-ore-in-the-desert.git
[submodule "Incinerator/are-convex-polygon"]
	path = Incinerator/are-convex-polygon
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-area-convex-polygon.git
[submodule "Incinerator/anagrams-stack"]
	path = Incinerator/anagrams-stack
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-anagrams-by-stacks.git
[submodule "IceBase/water-jars"]
	path = IceBase/water-jars
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-water-jars.git
[submodule "Dropbox/express-delivery"]
	path = Dropbox/express-delivery
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-express-delivery.git
[submodule "Mine/pumping-stations"]
	path = Mine/pumping-stations
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-pumping-stations.git
[submodule "OReylli/haunted-house"]
	path = OReylli/haunted-house
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-haunted-house.git
[submodule "Github/8-puzzle"]
	path = Github/8-puzzle
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-8-puzzle.git
[submodule "IceBase/colder-warmer"]
	path = IceBase/colder-warmer
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-colder-warmer.git
[submodule "IceBase/number-guess"]
	path = IceBase/number-guess
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-number-guess
[submodule "Home/non-unique-elements"]
	path = Home/non-unique-elements
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-non-unique-elements.git
[submodule "Home/median"]
	path = Home/median
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-median.git
[submodule "Uncategory/painting-wall"]
	path = Uncategory/painting-wall
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-painting-wall.git
[submodule "Home/roman-numerals"]
	path = Home/roman-numerals
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-roman-numerals.git
[submodule "template-and-forks"]
	path = template-and-forks
	url = https://github.com/CheckiO/checkio-task-template
[submodule "ElectronicStation/hamming-distance"]
	path = ElectronicStation/hamming-distance
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-hamming-distance
[submodule "ElectronicStation/brackets"]
	path = ElectronicStation/brackets
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-brackets.git
[submodule "ElectronicStation/restricted-sum"]
	path = ElectronicStation/restricted-sum
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-forbidden-sum.git
[submodule "ElectronicStation/find-sequence"]
	path = ElectronicStation/find-sequence
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-find-sequence.git
[submodule "ElectronicStation/numbered-triangles"]
	path = ElectronicStation/numbered-triangles
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-numbered-triangles.git
[submodule "ElectronicStation/three-points-circle"]
	path = ElectronicStation/three-points-circle
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-points-circle.git
[submodule "ElectronicStation/radiation-search"]
	path = ElectronicStation/radiation-search
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-radiation-search.git
[submodule "ScientificExpedition/matrix-transpose"]
	path = ScientificExpedition/matrix-transpose
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-matrix-transpose.git
[submodule "Alice/cakes-row"]
	path = Alice/cakes-row
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-cakes-rows.git
[submodule "ScientificExpedition/weekend-counter"]
	path = ScientificExpedition/weekend-counter
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-weekend-counter.git
[submodule "ScientificExpedition/triangle-angles"]
	path = ScientificExpedition/triangle-angles
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-triangle-angles.git
[submodule "ScientificExpedition/loadind-cargo"]
	path = ScientificExpedition/loadind-cargo
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-loading-cargo.git
[submodule "ScientificExpedition/landing-strip"]
	path = ScientificExpedition/landing-strip
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-spaceship-landing-strip.git
[submodule "Alice/multiplication-table"]
	path = Alice/multiplication-table
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-multiplication-table.git
[submodule "ScientificExpedition/square-chest"]
	path = ScientificExpedition/square-chest
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-square-chest.git
[submodule "ScientificExpedition/calculate-islands"]
	path = ScientificExpedition/calculate-islands
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-calculate-islands.git
[submodule "ScientificExpedition/digging-canal"]
	path = ScientificExpedition/digging-canal
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-digging-canal.git
[submodule "ScientificExpedition/triangular-verticies"]
	path = ScientificExpedition/triangular-verticies
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-triangular-vertices.git
[submodule "OReylli/striped-words"]
	path = OReylli/striped-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-striped-words.git
[submodule "OReylli/ghosts-age"]
	path = OReylli/ghosts-age
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-ghosts-age.git
[submodule "OReylli/bats-bunker"]
	path = OReylli/bats-bunker
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-bats-cave.git
[submodule "IceBase/auto-painting"]
	path = IceBase/auto-painting
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-auto-painting.git
[submodule "IceBase/determinant"]
	path = IceBase/determinant
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-determinant.git
[submodule "IceBase/stair-steps"]
	path = IceBase/stair-steps
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-stair-steps.git
[submodule "IceBase/counting-tiles"]
	path = IceBase/counting-tiles
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-counting-tiles.git
[submodule "IceBase/convex-hull"]
	path = IceBase/convex-hull
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-convex-hull.git
[submodule "IceBase/cipher-crossword"]
	path = IceBase/cipher-crossword
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-cipher-crossword.git
[submodule "IceBase/funny-addition"]
	path = IceBase/funny-addition
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-funny-addition.git
[submodule "Alice/humpty-dumpty"]
	path = Alice/humpty-dumpty
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-humpty-dumpty.git
[submodule "Alice/stick-sawing"]
	path = Alice/stick-sawing
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-stick-sawing.git
[submodule "Alice/digits-doublets"]
	path = Alice/digits-doublets
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-digit-doublets.git
[submodule "Github/determine-order"]
	path = Github/determine-order
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-determine-the-order.git
[submodule "Dropbox/pearl-box"]
	path = Dropbox/pearl-box
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-box-probability.git
[submodule "Mine/skew-matrix"]
	path = Mine/skew-matrix
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-skew-symmetric-matrix.git
[submodule "Mine/pattern-recognition"]
	path = Mine/pattern-recognition
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-matrix-pattern.git
[submodule "Mine/building-visibility"]
	path = Mine/building-visibility
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-buildings-visibility.git
[submodule "Mine/palindromic-palindrom"]
	path = Mine/palindromic-palindrom
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-palindromic-palindrome.git
[submodule "Mine/magic-square"]
	path = Mine/magic-square
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-magic-square.git
[submodule "Mine/math-lucky-tickets"]
	path = Mine/math-lucky-tickets
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-mathematically-lucky-tickets.git
[submodule "Incinerator/good-radix"]
	path = Incinerator/good-radix
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-good-radix.git
[submodule "Incinerator/mono-captcha"]
	path = Incinerator/mono-captcha
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-mono-captcha.git
[submodule "Incinerator/restricted-prime"]
	path = Incinerator/restricted-prime
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-restricted-prime.git
[submodule "Uncategory/solution-anything"]
	path = Uncategory/solution-anything
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-solution-for-anything
[submodule "Hubspot/url-normalization"]
	path = Hubspot/url-normalization
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-normalization
[submodule "Hubspot/web-log-sessions"]
	path = Hubspot/web-log-sessions
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-web-log-sessions.git
[submodule "Uncategory/parse-array"]
	path = Uncategory/parse-array
	url = https://github.com/Bryukh-Checkio-Tasks/parse-array.git
[submodule "Uncategory/cipher-map"]
	path = Uncategory/cipher-map
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-cipher-map.git
[submodule "Uncategory/consistent-hash"]
	path = Uncategory/consistent-hash
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-consistent-hashing.git
[submodule "Uncategory/strange-curcuit"]
	path = Uncategory/strange-curcuit
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-strange-curcuit.git
[submodule "Uncategory/all-in-row"]
	path = Uncategory/all-in-row
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-all-in-row.git
[submodule "Uncategory/golden-pyramid"]
	path = Uncategory/golden-pyramid
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-sums-in-a-triangle.git
[submodule "Uncategory/cowsay"]
	path = Uncategory/cowsay
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-what-does-the-cow-say.git
[submodule "Home/parse-array"]
	path = Home/parse-array
	url = https://github.com/Bryukh-Checkio-Tasks/parse-array.git
[submodule "ScientificExpedition/friendly-number"]
	path = ScientificExpedition/friendly-number
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-friendly-number.git
[submodule "Mine/painting-wall"]
	path = Mine/painting-wall
	url = https://github.com/cielavenir/checkio-task-painting-wall
[submodule "Uncategory/unfair-dice"]
	path = Uncategory/unfair-dice
	url = https://github.com/MagiMaster/checkio-task-unfair-dice.git
[submodule "Uncategory/min-max"]
	path = Uncategory/min-max
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-min-max.git
[submodule "Uncategory/verify-anagrams"]
	path = Uncategory/verify-anagrams
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-verify-anagrams.git
[submodule "Uncategory/simple-areas"]
	path = Uncategory/simple-areas
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-simple-areas.git
[submodule "word-pattern"]
	path = word-pattern
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-word-pattern.git
[submodule "calls-home"]
	path = calls-home
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-calls-home.git
[submodule "space-golf"]
	path = space-golf
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-space-golf.git
[submodule "good-radix"]
	path = good-radix
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-good-radix.git
[submodule "find-friends"]
	path = find-friends
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-find-friends.git
[submodule "golden-pyramid"]
	path = golden-pyramid
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-sums-in-a-triangle.git
[submodule "cipher-map"]
	path = cipher-map
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-cipher-map.git
[submodule "even-last"]
	path = even-last
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-even-last.git
[submodule "three-words"]
	path = three-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-words.git
[submodule "most-numbers"]
	path = most-numbers
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-most-numbers
[submodule "sudoku-solver"]
	path = sudoku-solver
	url = https://github.com/Amachua/checkio-task-sudoku-solver.git
[submodule "digits-multiplication"]
	path = digits-multiplication
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-digits-multiplication
[submodule "end-of-other"]
	path = end-of-other
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-end-of-other
[submodule "binary-count"]
	path = binary-count
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-binary-count
[submodule "number-base"]
	path = number-base
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-number-radix.git
[submodule "common-words"]
	path = common-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-common-words
[submodule "median"]
	path = median
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-median.git
[submodule "morse-clock"]
	path = morse-clock
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-morse-clock.git
[submodule "house-password"]
	path = house-password
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-house-password.git
[submodule "most-wanted-letter"]
	path = most-wanted-letter
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-most-wanted-letter.git
[submodule "string-equivalence"]
	path = string-equivalence
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-string-equivalence.git
[submodule "fizz-buzz"]
	path = fizz-buzz
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-fizz-buzz.git
[submodule "strange-circuit"]
	path = strange-circuit
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-strange-curcuit.git
[submodule "hamming-distance"]
	path = hamming-distance
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-hamming-distance
[submodule "x-o-referee"]
	path = x-o-referee
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-x-o-referee.git
[submodule "speech-module"]
	path = speech-module
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-speech-module.git
[submodule "feed-pigeons"]
	path = feed-pigeons
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-feed-pigeons.git
[submodule "roman-numerals"]
	path = roman-numerals
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-roman-numerals.git
[submodule "water-jars"]
	path = water-jars
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-water-jars.git
[submodule "open-labyrinth"]
	path = open-labyrinth
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-open-labyrinth
[submodule "parse-array"]
	path = parse-array
	url = https://github.com/Bryukh-Checkio-Tasks/parse-array.git
[submodule "non-unique-elements"]
	path = non-unique-elements
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-non-unique-elements.git
[submodule "min-max"]
	path = min-max
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-min-max.git
[submodule "brackets"]
	path = brackets
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-brackets.git
[submodule "three-points-circle"]
	path = three-points-circle
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-points-circle.git
[submodule "40coins"]
	path = 40coins
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-40coins.git
[submodule "unfair-dice"]
	path = unfair-dice
	url = https://github.com/MagiMaster/checkio-task-unfair-dice.git
[submodule "auto-painting"]
	path = auto-painting
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-auto-painting.git
[submodule "probably-dice"]
	path = probably-dice
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-probably-dice.git
[submodule "determinant"]
	path = determinant
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-determinant.git
[submodule "convex-hull"]
	path = convex-hull
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-convex-hull.git
[submodule "simple2048"]
	path = simple2048
	url = https://github.com/showjackyang/checkio-task-simple2048.git
[submodule "prime-palindrome-golf"]
	path = prime-palindrome-golf
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-prime-palindrome-golf.git
[submodule "expected-dice"]
	path = expected-dice
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-expected-dice
[submodule "repeating-decimal"]
	path = repeating-decimal
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-repeating-decimal.git
