[submodule "Library/common-words"]
	path = Library/common-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-common-words
[submodule "Library/three-words"]
	path = Library/three-words
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-words
[submodule "Library/most-numbers"]
	path = Library/most-numbers
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-most-numbers
[submodule "Library/even-last"]
	path = Library/even-last
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-even-last
[submodule "Uncategory/even-average"]
	path = Uncategory/even-average
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-even-last
[submodule "Library/absolute-sorting"]
	path = Library/absolute-sorting
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-absolute-sorting
[submodule "Library/end-of-other"]
	path = Library/end-of-other
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-end-of-other
[submodule "Library/digits-multiplication"]
	path = Library/digits-multiplication
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-digits-multiplication
[submodule "Library/binary-count"]
	path = Library/binary-count
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-binary-count
[submodule "Library/fizz-buzz"]
	path = Library/fizz-buzz
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-fizz-buzz
[submodule "ElectronicStation/how-much-gold"]
	path = ElectronicStation/how-much-gold
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-how-much-gold.git
[submodule "Library/number-radix"]
	path = Library/number-radix
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-number-radix.git
[submodule "Library/three-word"]
	path = Library/three-word
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-three-words
[submodule "IceBase/reverse-engineer"]
	path = IceBase/reverse-engineer
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-reverse-engineer.git
[submodule "Uncategory/friendly-number"]
	path = Uncategory/friendly-number
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-friendly-number.git
[submodule "Home/feed-pigeons"]
	path = Home/feed-pigeons
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-feed-pigeons
[submodule "Home/open-labyrinth"]
	path = Home/open-labyrinth
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-open-labyrinth
[submodule "Home/speech-module"]
	path = Home/speech-module
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-speech-module.git
[submodule "Home/most-wanted-letter"]
	path = Home/most-wanted-letter
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-most-wanted-letter
[submodule "Incinerator/shortest-knight-path"]
	path = Incinerator/shortest-knight-path
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-shortest-knight-path.git
[submodule "Graveyard/broken-clock"]
	path = Graveyard/broken-clock
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-broken-clock.git
[submodule "Home/house-password"]
	path = Home/house-password
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-house-password.git
[submodule "Incinerator/bulls-and-cows"]
	path = Incinerator/bulls-and-cows
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-bulls-and-cows.git
[submodule "ElectronicStation/numbers-factory"]
	path = ElectronicStation/numbers-factory
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-numbers-factory.git
[submodule "OReylli/disposable-teleports"]
	path = OReylli/disposable-teleports
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-disposable-teleports.git
[submodule "Incinerator/snake"]
	path = Incinerator/snake
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-snake.git
[submodule "Alice/hidden-word"]
	path = Alice/hidden-word
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-hidden-word
[submodule "ElectronicStation/minesweeper"]
	path = ElectronicStation/minesweeper
	url = https://github.com/Bryukh-Checkio-Tasks/checkio-task-minesweeper.git
